@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}
.cuerpo {
  background-image: url(./images/real.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-style: ridge;
  border-color: rgb(0, 168, 0);
  height: auto;
  width: auto;
}
li,
a {
  font-family: "Press Start 2P", cursive;
  font-weight: 500px;
  font-size: 10px;
  color: rgb(31, 253, 31);
  text-decoration: none;
}
h1 {
  height: 200px;
  width: auto;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}

font {
  color: red;
}

ul {
  color: rgb(0, 175, 0);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: -3px 8%;
  border-style: ridge;
  border-color: rgb(0, 185, 0);
}

.cabecera {
  font-family: "Press Start 2P", cursive;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  color: red;
  width: 50%;
  height: 50%;
  font-size: 90px;
  margin-right: 10%;
  animation: mymove 2s infinite;
}

@keyframes mymove {
  0% {
    color: red;
    left: 50px;
    top: 0px;
  }
  100% {
    color: rgb(0, 255, 0);
    left: 50px;
    top: 0px;
  }
}

.nav1 {
  list-style: none;
}

.nav1 li {
  display: inline-block;
  padding: 0px 20px;
}

.nav1 li a {
  transition: all 0.3s ease 0s;
}
.nav1 li a:hover {
  color: red;
}

.seccion {
  width: 400px;
  background: black;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 4px;
  color: fuchsia;
}

.form-register {
  font-size: 22px;
  background-color: none;
  margin-bottom: 20px;
}
.controls {
  color: cyan;
  width: 100%;
  background-color: black;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid fuchsia;
  font-size: 18px;
}

.seccion p {
  height: 40px;
  text-align: center;
  font-size: 18px;
}

.seccion a {
  text-decoration: none;
}
.seccion a:hover {
  text-decoration: underline;
}

.boton {
  background-color: fuchsia;
  width: 100%;
  color: cyan;
  padding: 12px;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid cyan;
}
.boton:hover {
  background-color: cyan;
  color: fuchsia;
  border: 1px solid fuchsia;
}

@media (min-width: 1085px) and (max-width: 1650px) {
  p {
    font-size: 12px;
    margin-top: 5%;
  }
  h1 {
    height: 150px;
    font-size: x-large;
  }
  li,
  a {
    font-weight: 200px;
    font-size: 7px;
  }

  h2 {
    font-size: 30px;
  }
}
@media (min-width: 0px) and (max-width: 1215px) {
  li,
  a {
    font-weight: 190px;
    font-size: 8px;
  }
  h1 {
    height: 100px;
    font-size: medium;
  }

  p {
    font-size: 10px;
    margin-top: 5%;
  }
}

@media (min-width: 651px) and (max-width: 1084px) {
  li,
  a {
    font-weight: 190px;
    font-size: 8px;
  }
  h1 {
    height: 100px;
    font-size: medium;
  }

  p {
    font-size: 10px;
    margin-top: 5%;
  }
}

@media (min-width: 0px) and (max-width: 650px) {
  li,
  a {
    font-weight: 100px;
    font-size: 8px;
  }

  h1 {
    height: 150px;
    font-size: medium;
  }
  p {
    font-weight: 20px;
    font-size: 8px;
    margin-top: 2%;
  }

  nav ul {
    display: block;
    font-size: large;
  }
}

.pie {
  background-image: url(./images/pacman.jpg);
  height: 150px;
  width: auto;
  border-style: ridge;
  border-color: rgb(0, 165, 0);
}
.pie h2 {
  background-image: url(./images/pacman.jpg);
  color: rgb(0, 165, 0);
  font-size: 30px;
  font-family: "Press Start 2P", cursive;
}

.pie p {
  height: 50px;
  font-family: "Press Start 2P", cursive;
  background-image: url(./images/pacman.jpg);
  color: red;
  display: flex;
  justify-content: center;
}
