@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}
.cuerpo{
    background-image: url(./images/real.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-style: ridge;
    border-color: rgb(0, 168, 0);
    height: auto;
    width: auto;
    
}
li, a {
  font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    font-size: 10px;
    color: rgb(31, 253, 31);
    text-decoration: none;


}
h1 {
    height: 200px;
   width: auto;
font-size: larger;
display: flex;
justify-content: center;
align-items: center;
}
  

font {
  color: red
}

  ul {
   color: rgb(0, 175, 0);
  }

header {
     
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -3px 8%;
    border-style: ridge;
    border-color:  rgb(0, 185, 0)
    

    
}

.cabecera {
  font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    color:  red;
    width: 50%;
    height: 50%;
    font-size: 90px;
    margin-right: 10%;
    animation: mymove 2s infinite;
    
}

@keyframes mymove {
    0% {color: red; left: 50px; top:0px; }
    100% {color: rgb(0, 255, 0); left: 50px; top: 0px; }
    
}
 
.nav1 {

    list-style: none;
    
 }

 .nav1 li {
    display: inline-block;
    padding: 0px 20px;

 }

 .nav1 li a {

    transition: all 0.3s ease 0s;
 }
  .nav1 li a:hover {
      color: red;
  }
  
  .img-fluid {
      height: auto;
      width: 100%;
      opacity:0.6;
      border-style: ridge;
      border-color: rgb(0, 189, 0);
  }
  .pie {
      background-image: url(./images/pacman.jpg);
      height: 150px;
      width: auto;
      border-style: ridge;
      border-color:rgb(0, 165, 0);
      

  }
  .pie h2 {
      background-image: url(./images/pacman.jpg);
      color: rgb(0, 165, 0);
      font-size: 30px;
      font-family: 'Press Start 2P', cursive;
    
  }

  .pie p {
    height: 50px;
    font-family: 'Press Start 2P', cursive;
    background-image: url(./images/pacman.jpg);
    color: red;
    display: flex;
    justify-content: center
     
  }
 
  
  .carousel-css{
     background-image: url(./images/mtv.jpg);
    width: 60%;
    height: 635px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    
    
  }
  
  .item{
    width: 100%;
    height: 100%;
    animation-name: fade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    opacity: 0;
    position: absolute;
  }
  
  .item:nth-child(2){
    animation-delay: 3s;
  }
  
  .item img{
    width: 100%;
    height: inherit;
  }
  
  @keyframes fade{
    from{opacity: 0;}
    5%{opacity: 1;}
    15%{opacity: 1;}
    20%{opacity: 0;}
    to{opacity: 0;}
  }

  .separagenesis {
    margin-top: 10px;
    height: 4px;
    background-color:rgb(0, 172, 0);
  }
  
  .pac1 {
    line-height: 0;
    font-size: 0;
  }
  
  .pacman1 {
    width: 100%;
    width: 170px;
    height: 150px;
    position: relative;
    display: block;
    margin-left: 91%;
    margin-top: -10%;

    
    
  }
    
  .pac2 {
    line-height: 0;
    font-size: 0;
  }

  .pacman2 {
    width: 100%;
    width: 170px;
    height: 90px;
    position: relative;
    display: block;
    margin-left: 0%;
    margin-top: -0%;
    margin-bottom: 1%;
  }

  .jason{
    line-height: 0;
    font-size: 0;
  }
   
  .jasonlogo {
    width: 100%;
    width: 180px;
    height: 100px;
    position: relative;
    display: block;
    margin-left: 80%;
    margin-top: -5.3%;
    
  }

  .starwars {
    line-height: 0;
    font-size: 0;
  }

.starwarslogo {
  width: 100%;
  width: 180px;
  height: 150px;
  position: relative;
  display: block;
  margin-left: 90%;
  margin-top: -9%;
}

.separa {
     height: 4px;
     background-color: rgb(0, 172, 0);
}

li {
    
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
}

  .ochenta {
      height: auto;
      width: auto;
    display: inline;
    
    }


  
  .ochocero {
    font-family: 'Press Start 2P', cursive;
      width: 100%;
      font-size: 40px;
      color: red;
      padding-top: none;
      margin-top: 1.7%;
      animation: mymove2 1s infinite;
      
  }
   

  @keyframes mymove2 {
    0% {color: red; left: 50px; top:0px; }
    100% {color: rgb(0, 192, 0); left: 50px; top:0px;  }
            }
            
    .separa2 {
        height: 4px;
     background-color: rgb(0, 173, 0);
    }    
            

 .ochentayuno {
    height: auto;
    width: auto;
  display: inline;
  
            }
.ochouno {
  font-family: 'Press Start 2P', cursive;
    width: 100%;
    font-size: 40px;
    color: fuchsia;
    padding-top: 0%;
    margin-top: 0%;
    animation: mymove2 1s infinite;

}
@keyframes mymove2 {
    0% {color: red; left: 50px; top:0px; }
    100% {color: rgb(0, 255, 0); left: 50px; top:0px;  }
            }

            .ochouno li{
                display: flex;
                justify-content: left;
                align-items: center;
            }

            .konglogo {
                width: 90%;
                width: 190px;
                height: 120px;
                position: relative;
                display: inline-block ;
                margin-left: 60%;
                margin-top: -3.5%;
            }

            .mtvlogo1 {
                width: 100%;
                width: 250px;
                height: 220px;
                position: relative;
                display: inline-block ;
                margin-left: 85%;
                margin-top: -20%;
            
            
             }      
                
         
           
 .ochentaydos {
    height: auto;
    width: auto;
  display: inline;
    
 }           
 .ochodos {
  font-family: 'Press Start 2P', cursive;
    width: 100%;
    font-size: 40px;
    color: fuchsia;
    padding-top: none;
    margin-top: -1.3%;
    animation: mymove2 1s infinite;


 }
 @keyframes mymove2 {
    0% {color: cyan; left: 50px; top:0px; }
    100% {color: fuchsia; left: 50px; top:0px;  }
            }
    
            .etlogo {
                width: 100%;
                width: 150px;
                height: 120px;
                position: relative;
                display: inline-block ;
                margin-left: 90%;
                margin-top: -3%;
                border-radius: 20%;
            

            }

.knightrider{
  line-height: 0;
  font-size: 0;
}

.knightriderlogo {
  width: 100%;
  width: 200px;
  height: 150px;
  position: relative;
 display: block;
  margin-left: 80%;
  margin-top: -7.9%;
border-radius: 5px;
}

.thriller {
  line-height: 0;
  font-size: 0;
}

            .thrillerlogo {
              width: 180%;
              width: 250px;
              height: 190px;
              position: relative;
             display: block;
              margin-left: 80%;
              margin-top: -11%;
            border-radius: 5px;
                
            }
            .separa3 {
                height: 4px;
                background-color: rgb(0, 179, 0);
            }

.ochentaytres {
    height: auto;
    width: auto;
  display: inline;
    
}
.ochotres {
  font-family: 'Press Start 2P', cursive;
    width: 100%;
    font-size: 40px;
    color: fuchsia;
    padding-top: none;
    margin-top: 0.5%;
    animation: mymove2 1s infinite;


}
@keyframes mymove2 {
    0% {color: cyan; left: 50px; top:0px; }
    100% {color: fuchsia; left: 50px; top:0px;  }
            }

.pclogo{
  width: 100%;
  width: 170px;
  height: 130px;
  position: relative;
  display: inline-block ;
  margin-left: 90%;
  margin-top: -4%;

}

.wargames {
  line-height: 0;
  font-size: 0;
}

.wargameslogo {
  width: 100%;
  width: 200px;
  height: 210px;
  position: relative;
 display: block;
  margin-left: 70%;
  margin-top: -11.1%;
border-radius: 5px;
}

.mariologo{
  width: 100%;
  width: 180px;
  height: 170px;
  position: relative;
  display: inline-block ;
  margin-left: 75%;
  margin-top: -10%;
border-radius: 5px;
}

.separacuatro {
  height: 4px;
  background-color: rgb(0, 172, 0);
}

 .ochentaycuatro {
    height: auto;
    width: auto;
  display: inline;
   

 } 
 .ochocuatro {
  font-family: 'Press Start 2P', cursive;
    width: 100%;
    font-size: 40px;
    color: fuchsia;
    padding-top: none;
    margin-top: -1%;
    animation: mymove2 1s infinite;


 }          
 @keyframes mymove2 {
    0% {color: cyan; left: 50px; top:0px; }
    100% {color: fuchsia; left: 50px; top:0px;  }
            }

.falcorlogo {
  line-height: 0;
  font-size: 0;
}

.falcorlogo1{
  width: 100%;
  width: 180px;
  height: 130px;
  position: relative;
 display: block;
  margin-left: 75%;
  margin-top: -6.8%;
border-radius: 5px;
}



.terminator {
  line-height: 0;
  font-size: 0;
}
 

.terminatorlogo {
  width: 100%;
  width: 180px;
  height: 138px;
  position: relative;
 display: block;
  margin-left: 75%;
  margin-top: -7.2%;
border-radius: 5px;
}

.freddy{
  line-height: 0;
  font-size: 0;
}

.freddylogo{
  width: 100%;
  width: 180px;
  height: 142px;
  position: relative;
 display: block;
  margin-left: 85%;
  margin-top: -7.5%;
border-radius: 5px;
}

.cazafantasmas {
  line-height: 0;
  font-size: 0;
}

.cazalogo {
  width: 100%;
  width: 180px;
  height: 142px;
  position: relative;
 display: block;
  margin-left: 85%;
  margin-top: -7.5%;
border-radius: 5px;
}

.cyndilauper {
  line-height: 0;
  font-size: 0;
}

.cyndilogo {
  width: 100%;
  width: 180px;
  height: 120px;
  position: relative;
 display: block;
  margin-left: 90%;
  margin-top: -4%;
border-radius: 5px;
}
.separacinco{
  height: 4px;
  background-color:rgb(0, 173, 0);

}

.ochentaycinco {
  
    height: auto;
    width: auto;
  display: inline;

 }  
 .ochocinco {
  font-family: 'Press Start 2P', cursive;
    width: 100%;
    font-size: 40px;
    color: fuchsia;
    padding-top: none;
    margin-top: 0%;
    animation: mymove2 1s infinite;
margin-bottom: 2%;
 }    
 
 @keyframes mymove2 {
    0% {color: cyan; left: 50px; top:0px; }
    100% {color: fuchsia; left: 50px; top:0px;  }
            }

.madonna {
  line-height: 0;
  font-size: 0;
}

.madonnalogo {
  width: 100%;
  width: 160px;
  height: 190px;
  position: relative;
 display: block;
  margin-left: 75%;
  margin-top: -10%;
border-radius: 5px;
}

.backfuture {
  line-height: 0;
  font-size: 0;
}

.futurelogo {
  width: 100%;
  width: 180px;
  height: 140px;
  position: relative;
 display: block;
  margin-left: 90%;
  margin-top: -7.4%;
border-radius: 1px;
}

.mcgyver {
  line-height: 0;
  font-size: 0;
}

.mcgyverlogo {
  width: 100%;
  width: 190px;
  height: 100px;
  position: relative;
 display: block;
  margin-left: 87%;
  margin-top: -6%;
border-radius: 1px;
}
.separaseis {
  height: 4px;
  background-color: rgb(0, 177, 0);
}

 .ochentayseis {
    height: auto;
    width: auto;
  display: inline;
 }           
 .ochoseis {
  font-family: 'Press Start 2P', cursive;
    width: 100%;
    font-size: 40px;
    color: fuchsia;
    padding-top: none;
    margin-top: 0.4%;
    animation: mymove2 1s infinite;

 }
 @keyframes mymove2 {
    0% {color: cyan; left: 50px; top:0px; }
    100% {color: fuchsia; left: 50px; top:0px;  }
            }

.alf {
  line-height: 0;
  font-size: 0;
}

.alflogo {
  width: 100%;
  width: 230px;
  height: 250px;
  position: relative;
 display: block;
  margin-left: 85%;
  margin-top: -13.2%;
border-radius: 1px;
}

.karatekid {
  line-height: 0;
  font-size: 0;
}

.karatelogo {
  width: 100%;
  width: 210px;
  height: 120px;
  position: relative;
 display: block;
  margin-left: 80%;
  margin-top: -4%;
border-radius: 5px;
}



.critters {
  line-height: 0;
  font-size: 0;
}

.critterslogo {
  width: 100%;
  width: 220px;
  height: 90px;
  position: relative;
 display: block;
  margin-left: 80%;
  margin-top: -6%;
border-radius: 5px;
}

.separasiete {
  height: 4px;
  background-color: rgb(0, 172, 0);
  margin-top: 2%;
}

 .ochentaysiete {
    height: auto;
    width: auto;
  display: inline;
 }           
 .ochosiete {
  font-family: 'Press Start 2P', cursive;
    width: 100%;
    font-size: 40px;
    color: fuchsia;
    padding-top: none;
    margin-top: -0.75%;
    margin-bottom: 2.9%;
    animation: mymove2 1s infinite;

 }
 @keyframes mymove2 {
    0% {color: cyan; left: 50px; top:0px; }
    100% {color: fuchsia; left: 50px; top:0px;  }
            }

            .lostboys {
              line-height: 0;
              font-size: 0;
            }

            .lostlogo {
              width: 100%;
              width: 300px;
              height: 90px;
              position: relative;
             display: block;
              margin-left: 80%;
              margin-top: -6.5%;
            border-radius: 5px;
            }

            .maxhead {
              line-height: 0;
              font-size: 0;
            }

            .maxlogo {
              width: 100%;
              width: 300px;
              height: 150px;
              position: relative;
             display: block;
              margin-left: 60%;
              margin-top: -7.9%;
            border-radius: 5px;
            }

            .gunsroses{
              line-height: 0;
              font-size: 0;
            }

.gunslogo {
  width: 100%;
  width: 150px;
  height: 200px;
  position: relative;
 display: block;
  margin-left: 88%;
  margin-top: -10.6%;
border-radius: 5px;
}

.dirtydancing {
  line-height: 0;
  font-size: 0;
}

.dirtylogo {
  width: 100%;
  width: 250px;
  height: 190px;
  position: relative;
 display: block;
 margin-left: 80%;
  margin-top: -11%;
  border-radius: 5px;
}



.separaocho {
  height: 4px;
  background-color:rgb(0, 175, 0);
  margin-top: 2%;
 
}

.ochentayocho {
    height: auto;
    width: auto;
  display: inline;

}
.ochoocho {
  font-family: 'Press Start 2P', cursive;
    width: 100%;
    font-size: 40px;
    color: fuchsia;
    padding-top: none;
    margin-top: -1.1%;
    margin-bottom: 2%;
    animation: mymove2 1s infinite;

}
@keyframes mymove2 {
    0% {color: cyan; left: 50px; top:0px; }
    100% {color: fuchsia; left: 50px; top:0px;  }
            }

.beetlejuice {
  line-height: 0;
  font-size: 0;
}

.beetlelogo {
  width: 100%;
  width: 220px;
  height: 130px;
  position: relative;
 display: block;
 margin-left: 83%;
  margin-top: -6.8%;
  border-radius: 80%;
}

.bloodlogo {
  line-height: 0;
  font-size: 0;
}


.bloodspot {
  width: 100%;
  width: 250px;
  height: 160px;
  position: relative;
 display: block;
 margin-left: 85%;
  margin-top: -8.5%;
  border-radius: 5px;
}

.moonwalker {
  line-height: 0;
  font-size: 0;
}


.moonlogo {
  width: 100%;
  width: 210px;
  height: 200px;
  position: relative;
 display: block;
  margin-left: 60%;
  margin-top: -10.5%;
border-radius: 5px;
}

.chucky {
  line-height: 0;
  font-size: 0;
}

.chuckylogo {
  width: 100%;
  width: 230px;
  height: 240px;
  position: relative;
 display: block;
  margin-left: 80%;
  margin-top: -12.7%;
border-radius: 5px;
}

.separanueve {
  height: 4px;
  background-color: rgb(0, 173, 0);
  margin-top: 2%;
}


.ochentaynueve {
    height: auto;
    width: auto;
  display: inline;
}
.ochonueve {
  font-family: 'Press Start 2P', cursive;
    width: 100%;
    font-size: 40px;
    color: fuchsia;
    padding-top: none;
    margin-top: -1%;
    animation: mymove2 1s infinite;

}
@keyframes mymove2 {
    0% {color: cyan; left: 50px; top:0px; }
    100% {color: fuchsia; left: 50px; top:0px;  }
       }
       
       .batman {
        line-height: 0;
        font-size: 0;
       }


      .batmanlogo {
        width: 100%;
        width: 230px;
        height: 117px;
        position: relative;
       display: block;
        margin-left: 85%;
        margin-top: -4%;
      border-radius: 5px;
      }
 
.tales {
  line-height: 0;
  font-size: 0;

}

.taleslogo {

  width: 100%;
  width: 230px;
  height: 140px;
  position: relative;
 display: block;
  margin-left: 85%;
  margin-top: -7.4%;
border-radius: 5px;
}


.back2 {
  line-height: 0;
  font-size: 0;
}

.backlogo2 {
  width: 100%;
  width: 230px;
  height: 100px;
  position: relative;
 display: block;
  margin-left: 85%;
  margin-top: -5.3%;
border-radius: 5px;
}

.bart {
  line-height: 0;
  font-size: 0;
}

.bartlogo {
  width: 100%;
  width: 120px;
  height: 110px;
  position: relative;
 display: block;
  margin-left: 88%;
  margin-top: -5%;
border-radius: 5px;
}